<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DIPizza"
        tools:targetApi="31">
        <activity
            android:name=".view.ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--welcome ui-->
        <activity
            android:name=".view.ui.welcome.WelcomeView"
            android:exported="true" />
        <!--category ui-->
        <activity
            android:name=".view.ui.home.CategoryView"
            android:exported="true" />
        <!--category details ui-->
        <activity
            android:name=".view.ui.home.CategoryDetailsView"
            android:exported="true" />
        <!--menu ui-->
        <activity
            android:name=".view.ui.home.MenuView"
            android:exported="true" />

        <!--menu item ui-->
        <activity
            android:name=".view.ui.home.ItemView"
            android:exported="true" />
        <!--cart ui-->
        <activity
            android:name=".view.ui.profile.CartView"
            android:exported="true" />
        <!--registration form-->
        <activity
            android:name=".view.ui.registration.RegistrationView"
            android:exported="true" />
        <!--Login form-->
        <activity
            android:name=".view.ui.login.LoginView"
            android:exported="true" />
        <!--Forgot Password form-->
        <activity
            android:name=".view.ui.login.ForgotPasswordView"
            android:exported="true" />
        <!--Verify Email form-->
        <activity
            android:name=".view.ui.login.VerifyEmailView"
            android:exported="true" />
        <!--Reset Password form-->
        <activity
            android:name=".view.ui.login.ResetPasswordView"
            android:exported="true" />
    </application>

</manifest>